@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: rgb(40, 112, 108);
    --secondary-color: #F26440;
}

body {
    @apply bg-default;
    font-family: 'Lato', sans-serif;
    /* background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
}

.main-page{
    @apply relative min-h-screen w-[80vw] m-auto;
}

.header{
    @apply relative 
        h-16 
        flex 
        justify-between 
        items-center;
}

.navbar a{
    @apply text-gray-500 
        px-0 
        inline-block 
        border-b-2 
        border-b-transparent 
        mx-2 
        transition-all 
        duration-300 
        hover:text-secondary 
        hover:border-b-secondary;
}

.lets-talk{
    @apply bg-secondary 
        px-4 
        py-2 
        hover:shadow-2xl 
        hover:shadow-primary 
        text-white 
        text-xs;
}

.content-wrapper{
    @apply relative flex mt-[10%];
}

.my-name{
    font-family: 'Frijole', cursive;
}

.my-image{
    @apply bg-secondary w-[30vw] h-[30vw] rounded-full relative;
    box-shadow: 0px 0px 0px 10px rgba(242, 100, 64, 0.3), 0px 0px 0px 20px rgba(242, 100, 64, 0.2);
}

.my-image img.primary{
    @apply h-[105%] w-[105%] object-contain relative rounded-b-full top-[-5%];
}

.skill{
    @apply w-24 border-2 border-white p-1 rounded-lg inline-block mx-1;
}
.skill .img{
    @apply p-1 w-auto inline-block rounded-lg bg-white;
}

.skill .img img{
    @apply h-14 w-24 object-cover rounded-lg bg-gray-300;
}

.skill .name{
    @apply p-2 w-full bg-white text-center rounded-lg mt-1;
    font-size: 10px;
}

.socials a{
    @apply 
        h-12 
        w-12 
        relative
        inline-flex 
        justify-center 
        items-center 
        rounded-xl 
        shadow-2xl 
        mr-2
        text-white
        text-3xl;
}

.socials a:hover::before{
    content: attr(name);
    @apply absolute top-[-50px] text-primary px-2 truncate;
    background-color: white;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.linkedin{
    background-color: #046EAC;
}
.facebook {
    background-color: #4267B2;
}
.github{
    background-color: #151414;
}
.twitter{
    background-color: #00A7E8;
}
.instagram{
    background-color: red;
}